@use "media-query" as media;
@use "reset";

main {
  // Replace color later with background image
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;

  .desktop-nav {
    @include media.sm {
      display: none;
    }
  }

  .mobile-nav {
    display: none;
    background-color: #1e1e1e;

    #menu-items {
      margin-top: 8rem;
      background-color: #1e1e1e;
      display: none;
      flex-direction: column;
      position: absolute;

      .nav-item {
        width: 100vw;
        border-bottom: 3px solid white;
        margin-left: 0;
        padding-left: 1rem;
        padding-bottom: 2rem;
      }
    }

    @include media.sm {
      display: flex;
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .navimages {
      display: flex;
      align-items: center;
    }

    @include media.sm {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    a {
      margin: 1rem;
      text-decoration: none;
      font-family: sans-serif;
      color: white;
      font-size: 1.25rem;

      img {
        width: 6rem;
        object-fit: cover;
        margin-left: 1.25rem;

        @include media.sm {
          width: 3rem;
        }
      }
    }

    #hamburger {
      color: white;
      font-size: 3.5rem;
      margin-left: 13rem;
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-family: sans-serif;
      color: white;
      font-size: 6rem;
      margin-top: 6rem;

      @include media.sm {
        font-size: 2rem;
      }
    }
    p {
      width: 60%;
      color: white;
      font-family: sans-serif;
      margin: 0.5rem;
      text-align: center;

      @include media.sm {
        font-size: 1rem;
      }
    }

    button {
      background-color: transparent;
      opacity: 50%;
      color: white;
      font-size: 1.5rem;
      border: 3px solid white;
      padding: 1rem 2rem;
      margin-top: 1rem;
      margin-bottom: 10rem;
    }
  }
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 3rem;
    font-family: sans-serif;
    margin-top: 3rem;

    @include media.sm {
      font-size: 1.5rem;
      margin: 1rem;
      text-align: center;
    }
  }
  p {
    width: 60%;
    font-family: sans-serif;
    margin: 0.5rem;
    text-align: center;

    @include media.sm {
      font-size: 1rem;
    }
  }

  .flexbox {
    display: flex;
    flex-direction: row;

    @include media.sm {
      flex-direction: column;
    }

    .point {
      width: 20rem;
      height: 20rem;
      background-color: gray;
      margin: 5rem;

      @include media.sm {
        margin: 1rem;
      }
    }
  }
}

#news {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media.sm {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  h1 {
    font-size: 3rem;
    font-family: sans-serif;
    margin-top: 3rem;
    margin-bottom: 2rem;

    @include media.sm {
      font-size: 1.5rem;
      margin: 1rem;
      text-align: center;
    }
  }

  .flexbox {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;

    @include media.sm {
      flex-direction: column;
      margin: 0;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .point {
        width: 20rem;
        height: 20rem;
        background-color: #1e1e1e;
        margin: 1rem 5rem;

        @include media.sm {
          margin: 1rem;
        }
      }

      h3 {
        text-align: center;
        font-family: sans-serif;
        color: black;

        @include media.sm {
          font-size: 1rem;
        }
      }
    }
  }
}
