@use "media-query" as media;
@use "reset";

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.otf);
  font-family: "Bebas Nue";
  src: url(../fonts/BebasNeue-Regular.ttf);
}

main {
  // Replace color later with background image
  background-image: url("./../images/hero.png");

  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;

  @include media.sm {
    background-image: none;
  }

  .desktop-nav {
    @include media.sm {
      display: none;
    }
  }

  .mobile-nav {
    display: none;
    background-color: #ec1e24;

    #menu-items {
      margin-top: 8rem;
      background-color: #ec1e24;
      display: none;
      flex-direction: column;
      position: absolute;

      .nav-item {
        width: 100vw;
        border-bottom: 3px solid white;
        margin-left: 0;
        padding-left: 1rem;
        padding-bottom: 2rem;
      }
    }

    @include media.sm {
      display: flex;
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .navimages {
      display: flex;
      align-items: center;
    }

    @include media.sm {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    a {
      margin: 1rem;
      text-decoration: none;
      font-family: "Montserrat";
      color: white;
      font-size: 1rem;

      img {
        width: 6rem;
        object-fit: cover;
        margin-left: 1.25rem;

        @include media.sm {
          width: 3rem;
        }
      }
    }

    #hamburger {
      color: white;
      font-size: 3.5rem;
      margin-left: 13rem;
    }
  }

  .hero {
    display: flex;
    flex-direction: column;

    @include media.sm {
      background-image: url("../images/hero-mobile.png");
      background-size: cover;
      background-position: center;
    }

    h1 {
      font-family: "Bebas Nue";
      color: #ec1e24;
      font-size: 9rem;
      margin-top: 8rem;
      margin-left: 1rem;
      line-height: 80%;

      @include media.sm {
        margin-top: 4rem;
        font-size: 4.5rem;
        color: white;
      }
    }
    p {
      margin-left: 2rem;
      width: 30%;
      color: black;
      font-family: "Montserrat";
      font-size: 1rem;
      margin: 0.5rem;
      margin-left: 1rem;
      text-align: left;

      @include media.sm {
        font-size: 1rem;
        margin-top: 15rem;
        width: 55%;
      }
    }

    button {
      background-color: transparent;
      color: #ec1e24;
      font-family: "Montserrat";
      font-size: 1rem;
      border: 3px solid #ec1e24;
      padding: 1rem 2rem;
      margin-top: 0.5rem;
      margin-bottom: 10rem;
      margin-left: 1rem;

      @include media.sm {
        padding: 1rem 6rem;
      }
    }
  }
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 3rem;
    font-family: sans-serif;
    margin-top: 3rem;

    @include media.sm {
      font-size: 1.5rem;
      margin: 1rem;
      text-align: center;
    }
  }
  p {
    width: 60%;
    font-family: sans-serif;
    margin: 0.5rem;
    text-align: center;

    @include media.sm {
      font-size: 1rem;
    }
  }

  .flexbox {
    display: flex;
    flex-direction: row;

    @include media.sm {
      flex-direction: column;
    }

    .point {
      width: 20rem;
      height: 20rem;
      background-color: gray;
      margin: 5rem;

      @include media.sm {
        margin: 1rem;
      }
    }
  }
}

#news {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media.sm {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  h1 {
    font-size: 3rem;
    font-family: sans-serif;
    margin-top: 3rem;
    margin-bottom: 2rem;

    @include media.sm {
      font-size: 1.5rem;
      margin: 1rem;
      text-align: center;
    }
  }

  .flexbox {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;

    @include media.sm {
      flex-direction: column;
      margin: 0;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .point {
        width: 20rem;
        height: 20rem;
        background-color: #1e1e1e;
        margin: 1rem 5rem;

        @include media.sm {
          margin: 1rem;
        }
      }

      h3 {
        text-align: center;
        font-family: sans-serif;
        color: black;

        @include media.sm {
          font-size: 1rem;
        }
      }
    }
  }
}

#donate {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  h1 {
    margin-top: 3rem;
    font-family: sans-serif;
    font-size: 3rem;
    justify-self: center;
    align-self: center;

    @include media.sm {
      font-size: 1.5rem;
      margin-top: 1.5rem;
    }
  }

  .money-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include media.sm {
      flex-direction: column;
    }

    .preset-dollar-box {
      display: flex;
      flex-direction: row;
      align-items: center;

      .dollar-buttons {
        font-size: 1.5rem;
        font-family: sans-serif;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        background-color: #1e1e1e;
        color: white;
        align-self: center;
        justify-self: center;
        margin: 0.5rem;

        @include media.sm {
          font-size: 1rem;
          padding: 0.5rem;
        }
      }
    }

    p {
      font-size: 2rem;
      font-family: sans-serif;
      margin: 3rem;
      margin-left: 2rem;

      @include media.sm {
        font-size: 1rem;
        margin-left: 0;
        margin: 0.5rem;
        justify-self: center;
      }
    }

    .user-amount-box {
      display: flex;
      flex-direction: column;

      input {
        margin-top: 0.25rem;
        height: 3.75rem;
        width: 25rem;

        @include media.sm {
          width: 18rem;
        }
      }

      label {
        margin-top: 0.5rem;

        @include media.sm {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .section-underline {
    width: 60%;
    align-self: center;
    background-color: #1e1e1e;
    height: 3px;

    @include media.sm {
      width: 80%;
    }
  }

  .information {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 1rem;

    @include media.sm {
      flex-direction: column;
      align-items: center;
    }

    .name-address {
      margin-right: 8rem;
      display: flex;
      flex-direction: column;

      @include media.sm {
        margin-right: 0;
      }

      input {
        margin-top: 0.25rem;
        height: 3.75rem;
        width: 24rem;

        @include media.sm {
          width: 18rem;
          align-self: center;
        }
      }

      label {
        margin-top: 0.5rem;

        @include media.sm {
          margin-bottom: 0.5rem;
        }
      }

      .city-state-zip {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .city {
          display: flex;
          flex-direction: column;

          input {
            height: 3.75rem;
            width: 11rem;

            @include media.sm {
              width: 5rem;
            }
          }
        }

        .state {
          display: flex;
          flex-direction: column;

          select {
            height: 3.75rem;
            margin: 0.5rem;
            width: 6rem;
          }
        }

        .zip {
          display: flex;
          flex-direction: column;

          input {
            height: 3.75rem;
            width: 6rem;
          }
        }
      }
    }

    .email-phoneNumber {
      display: flex;
      flex-direction: column;

      input {
        margin-top: 0.25rem;
        height: 3.75rem;
        width: 24rem;

        @include media.sm {
          width: 18rem;
          align-self: center;
        }
      }

      label {
        margin-top: 0.5rem;

        @include media.sm {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .donate-button-checkbox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 18rem;
    margin-top: 2rem;

    @include media.sm {
      align-items: center;
    }

    .checkbox-box {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      p {
        margin-left: 0.5rem;
      }
    }

    @include media.sm {
      margin-right: 0;
    }

    button {
      padding: 1rem 3rem;
      color: black;
      font-family: sans-serif;
      font-size: 1.25rem;
      margin: 1rem;
      margin-right: 0;

      @include media.sm {
        padding: 1rem 8rem;
      }
    }
  }
}
